<div class=" content">
  <div class="row text-center">
    <div class="col-md-12">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Previous
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Next
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mwl-calendar-month-view [viewDate]="viewDate" (dayClicked)="dayClicked($event.day)"
        [activeDayIsOpen]="activeDayIsOpen" [events]="events">
      </mwl-calendar-month-view>
    </div>
  </div>
</div>